{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}

<div class="admin-login-wrapper">
  <div class="admin-login-card">

    <h2>Admin Login</h2>
    <span class="login-subtitle">
      Authorized access for Panchayat officials
    </span>

    <form method="post" autocomplete="off">
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
      </div>

      <button type="submit" class="login-btn-primary" style="width: 100%; margin-top: 10px;">
        Secure Login
      </button>
    </form>

  </div>
</div>

{% endblock %}